<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            display: flex;
            justify-content: center;
            /* align-items: center; */
            background-color: rgb(179, 111, 111);
            background: url(https://media.istockphoto.com/id/1144323845/photo/explosion-of-colored-powder-on-black-background.jpg?s=2048x2048&w=is&k=20&c=iiJrXJJ5J0cJXz1nZiCeKsrDWZmc5MdN6O1Jkgu7gfg=);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>
    <div>
        <h1 style="color: white;">forgot Form</h1>
        <form method="post">
            <p>
                <label style="color: white;">Enter Your Email: </label><br><br>
                <input type="email" name="email" placeholder="Enter your email">
                <button style="background-color: blue;">Submit</button>
            </p>
        </div>
        </center>
</body>
</html>